ADAPTER: postgresql
ENCODING: unicode
POOL: 5
TIMEOUT: 5000
USERNAME: postgres
PASSWORD: 
DB_DEV: food_bot_develop
DB_TEST: food_bot_test
DB_PRODUCT: food_bot_product
GROUP: 119558611
CHATWORK_API_TOKEN: 123132132131321321321321
CHATBOT_ID: "3308032"
